{% extends 'myApp/base.html' %}
{% block title %}ユーザ情報{% endblock %}
{% block content %}
<h1>ユーザ情報</h1>
<div class="detail-content">
  
  <div class="detail-box">
    プロフィール画像：<img src="media/{{ userinfoDetail.picture }}" width="25%" height="25%" class='img'>
  </div>
  <div class="detail-box">
    <tr>
      <td>
	名前：{{userinfoDetail.name}}<br>
	パスワード：{{userinfoDetail.password}}<br>
	メールアドレス：{{userinfoDetail.mail}}<br>
	学校名：{{userinfoDetail.school_name}}<br>
	学年：{{userinfoDetail.school_grade}}<br>
      </td>
    </tr>
  </div>
</div>
<div class="center">
  <a href="{% url 'showUsers' %}" class="btn">ユーザ一覧へ</a>
</div>
{% endblock %}
