{% extends 'myApp/base.html' %}
{% block title %}ユーザ一覧{% endblock %}
{% block content %}
<h1>ユーザ一覧</h1>
<div class="user-box">
  <div class="user-table">
<table>
  <thead>
    <tr>
      <!-- <th colspan="2">{{msg}}:{{count}}名</th> -->
      <th>{{msg}}:{{count}}名</th>
    </tr>
  </thead>
  <tbody>
    <!-- count件(行)数分をループ -->
    {% for user in userinfo %}
    <tr>
      <!-- 4列分ユーザ情報を出力 -->
      <td><a href="{% url 'showDetail' user.id %}">{{user.name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
