.img{
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius:50%;
    margin: 20px 0;
}
h1 {
    text-align: center;
    padding: 20px 0;
}
.contents {
    margin: 0 auto;
    width:700px;
    border:solid;
}
.box{
    margin: 0 auto;
    width:520px;
    padding: 40px;
}

.create-p {
    margin-top:6px;
}
.center {
    text-align:center;
}

.btn {
    margin: 40px 10px;
  color: #000;
  background-color: #b0c4de;
  border-bottom: 5px solid #a1b4cc;
}

.btn:hover {
  margin-top: 43px;
  color: #000;
  background: # fff20a;
  border-bottom: 2px solid #a1b4cc;
}


/*detail*/
.detail-content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width:700px;
    border:solid;
}
.detail-box {
    width:320px;
    padding: 40px;
}

/*user*/
.user-box {
    margin: 0 auto;
    width:350px;
    padding: 0px;
}
/*
.user-table table, .user-table tr, .user-table th{
    border: 1px solid;
    border-collapse: collapse;
}
*/
.user-table{
    border: solid;
    padding:5px 5px 5px 20px;
    border-collapse: collapse;
}
