h1 {
    text-align: center;
    padding: 20px 0;
}
.create-frame {
    margin: auto;
    padding: 50px;
    width:700px;
    border:solid;
    text-align: center;
}
.create-box{
    display: inline-block;
    width: 630px;
    padding:20px;
    vertical-align: middle;
}

.create-box td {
    padding:10px;
}
.username_note {
    font-size:2px;
}

/* users.html */
.users-table {
    border-collapse: collapse;
    margin: auto;
}

.btn:hover {
    margin-top: 43px;
    color: #000;
    background: # fff20a;
    border-bottom: 2px solid #a1b4cc;
}


/* detail */
.img{
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius:50%;
    margin: 20px 0;
}

.detail-content {
    border: solid;
    padding: 30px;
    margin: auto;
    width:700px;
    text-align: center;
}
.detail-box {
    display: inline-block;
    padding:20px;
    vertical-align: middle;
}

/*user*/
.user-box {
    margin: 0 auto;
    width:350px;
    padding: 0px;
}
.user-table{
    border: solid;
    padding:5px 5px 5px 20px;
    border-collapse: collapse;
}
.user-table tr td {
    padding: 3px;
}
